.wraper {
  flex: 1;
  overflow: auto;
  height: calc(100% - 32px)
}

.row {
  display: flex;
  align-items: center;
  height: 32px;
  white-space: nowrap;
}

.tag {
  margin-right: 8px
}

.wraper .row:nth-child(2n) {
  background: var(--primary-default);
}

.overWrap {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
}

.noData {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
